<div id="sidebar" align="center">
    <br><br>
    <img src="/image/프로필.png"><br><br>
    <font size="5px">김영선</font>
    <br><br><br>
    <div id="profile_information" style="text-align:left">
        <strong>밴드</strong> &nbsp;&nbsp;&nbsp; 없음<br>
        <strong>세션</strong> &nbsp;&nbsp;&nbsp; 보컬 / 기타 / 드럼
    </div>
    <br><br>
    <div id="profile_fix" style="text-align:right">
        <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>내 프로필 수정하기</a>
    </div>
</div>
