.main {
    margin-top :7%;
}
.input-group {
    width :700px;
    
}

#music_book { margin-left :-238px; }
#degree { margin-left :-179px; }
#top { border-radius :0px; }

#music_book_main { margin-right :238px; }
#degree_main { margin-right :179px; }


html, body { height :100%; }

#profile_information { margin-left :80px; }
#profile_fix { margin-right :20px; }




#container	{width:800px;}
#content	{
    width:1000px; 
    float:left;
}
#sidebar	{
    float:left;
    width :300px;
    height :100%;
    margin-top :-20px;
    margin-bottom :-20px;
    background :#6a6a6a;
    color :white;
}

#footer	{width:800px; height:200px; clear:both;}

#profile_search {
}

#search_position {
    margin-left :50%;
}